test*.js
*.swp
.idea
.DS_STORE
npm-debug.log
*~
test/binary/tmp/*
test/tmp/*
test/sqlite/test.sqlite
coverage-*

# ignore dev dependencies
/node_modules/.bin/
/node_modules/async/
/node_modules/chai-datetime/
/node_modules/chai-spies/
/node_modules/chai/
/node_modules/coffee-script/
/node_modules/coveralls/
/node_modules/istanbul/
/node_modules/lcov-result-merger/
/node_modules/mariasql/
/node_modules/mocha/
/node_modules/mysql/
/node_modules/pg/
/node_modules/sinon/
/node_modules/sqlite3/
/node_modules/watchr/

